{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="background" style="background-image: url('{{ url_for('static', filename='images/about-bg.jpg') }}');">
    <h1>About LoveInGlassPortraits</h1>
    <p>Welcome to LoveInGlassPortraits, where art meets elegance. We proudly showcase a curated collection of unique glass paintings created by Pravalika, each piece a reflection of artistic passion and creativity.</p>
    <p>At LoveInGlassPortraits, our mission is to bring beauty and inspiration to your space through one-of-a-kind art pieces. Every painting is meticulously crafted with love and attention to detail, ensuring that each piece is as distinctive as the individual who owns it.</p>
    <p>Explore our gallery and discover how our glass paintings can add a touch of sophistication and charm to your home or office. Thank you for visiting LoveInGlassPortraits – where every piece of art tells a story.</p>
</div>
{% endblock %}
